<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <!-- Incluir el sidebar -->
            <div th:replace="~{fragments/sidebar :: sidebar}"></div>
        </div>
        <div class="col-md-9 offset-md-3 mt-5">
            <h2>Lista de Candidatos</h2>
            <a href="/candidates/register" class="btn btn-primary btn-sm mb-3">Agregar Candidato</a>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Propuesta</th>
                    <th>Registrado Por</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="candidate : ${candidates}">
                    <td th:text="${candidate.idCandidato}">1</td>
                    <td th:text="${candidate.nombre}">Nombre</td>
                    <td th:text="${candidate.propuesta}">Propuesta</td>
                    <td th:text="${candidate.nombreAdmin}">Registrado Por</td>
                    <td>
                        <a th:href="@{/candidates/edit/{id}(id=${candidate.idCandidato})}" class="btn btn-warning">Editar</a>
                        <a th:href="@{/candidates/delete/{id}(id=${candidate.idCandidato})}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>