<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <!-- Incluir el sidebar -->
            <div th:replace="~{fragments/sidebar :: sidebar}"></div>
        </div>
        <div class="col-md-9 offset-md-3 mt-5">
            <h2>Detalles del Voto</h2>
            <table class="table table-striped">
                <tr>
                    <th>ID Voto</th>
                    <td th:text="${vote.idVoto}">1</td>
                </tr>
                <tr>
                    <th>Nombre del Votante</th>
                    <td th:text="${vote.nombreVotante}">Nombre del Votante</td>
                </tr>
                <tr>
                    <th>Nombre del Candidato</th>
                    <td th:text="${vote.nombreCandidato}">Nombre del Candidato</td>
                </tr>
                <tr>
                    <th>Fecha del Voto</th>
                    <td th:text="${vote.fechaVoto}">2025-03-09T13:16:22.490255</td>
                </tr>
            </table>
            <a href="/votes/list" class="btn btn-primary">Volver a la Lista</a>
        </div>
    </div>
</div>
</body>
</html>