<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <!-- Incluir el sidebar -->
            <div th:replace="~{fragments/sidebar :: sidebar}"></div>
        </div>
        <div class="col-md-9 offset-md-3 mt-5">
            <h2>Lista de Votantes</h2>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Ha Votado</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="voter : ${voters}">
                    <td th:text="${voter.idVotante}">1</td>
                    <td th:text="${voter.nombre}">Nombre</td>
                    <td th:text="${voter.correo}">Email</td>
                    <td th:text="${voter.haVotado ? 'Sí' : 'No'}">No</td>
                    <td>
                        <a th:if="!${voter.haVotado}" th:href="@{/votes/cast/{voterId}(voterId=${voter.idVotante})}" class="btn btn-primary">Votar</a>
                        <span th:if="${voter.haVotado}" class="text-muted">Ya votó</span>
                        <a th:href="@{/voters/edit/{id}(id=${voter.idVotante})}" class="btn btn-warning">Editar</a>
                        <a th:href="@{/voters/delete/{id}(id=${voter.idVotante})}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>