<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <!-- Incluir el sidebar -->
            <div th:replace="~{fragments/sidebar :: sidebar}"></div>
        </div>
        <div class="col-md-9 offset-md-3 mt-5">
            <h2>Lista de Votantes</h2>
            <a href="/votantes/register" class="btn btn-primary btn-sm mb-3">Agregar Votante</a>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="votante : ${votantes}">
                    <td th:text="${votante.idVotante}">1</td>
                    <td th:text="${votante.nombre}">Nombre</td>
                    <td th:text="${votante.email}">Email</td>
                    <td>
                        <a th:href="@{/votantes/edit/{id}(id=${votante.idVotante})}" class="btn btn-warning">Editar</a>
                        <a th:href="@{/votantes/delete/{id}(id=${votante.idVotante})}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>